<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
         
          
        </div>
        <button class="btn btn-success btn-block">Add Forecast
          <i class="mdi mdi-plus"></i>
        </button>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">DASHBOARD</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/forms" routerLinkActive="active">
        <i class="menu-icon mdi mdi-notification-clear-all"></i>
        <span class="menu-title">CREATE MODEL</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/buttons" routerLinkActive="active">
        <i class="menu-icon mdi mdi-dna"></i>
        <span class="menu-title">INPUT ASSUMPTIONS</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/progressbar" routerLinkActive="active">
        <i class="menu-icon mdi mdi-trackpad"></i>
        <span class="menu-title">VIEW REPORTS</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/carousel" routerLinkActive="active">
        <i class="menu-icon mdi mdi-texture"></i>
        <span class="menu-title">FORECAST TO ACTUAL</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/tooltips" routerLinkActive="active">
        <i class="menu-icon mdi mdi-content-copy"></i>
        <span class="menu-title">SETTINGS</span>
      </a>
    </li>
    
  </ul>
</nav>
